# Python
*.pyc
__pycache__/

# Django
db.sqlite3

# Environment variables
.env

# Virtual environment
venv/

# Testing and coverage
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
.lintcache/
**/tests/test_files/**

# macOS
.DS_Store

# Node.js
node_modules/